




body{
    font-family:'Nunito', sans-serif;
}

#header-nav{
    background-color: white;
    border: 0px;
    
}

.navbar-default .navbar-brand {
    font-size: 1.5em;
   
}

#collapsable-nav {
    background-color:fuchsia;   
    
}

button.navbar-toggle {
    background-color:white;
    border:0px;
    
}
    
button.navbar-toggle:active {
    background-color:white;
    border:0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:red;
}


    
    
#nav-list{
    text-align:center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight:bold;
    color: white;

}

section {
    background-color: #d3d3d3;
    height:1000px;
    margin-top: 100px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    text-transform:uppercase;
   
}

h2 {
    margin-bottom: 20px;
}

@media screen and (min-width: 767px){
    #collapsable-nav {
  visibility:hidden;
    }}
