




body{
    font-family:'Nunito', sans-serif;
}

#header-nav{
    background-color: white;
    border: 0px;
    
}

.navbar-default .navbar-brand {
    font-size: 1.5em;
   
}

#collapsable-nav {
    background-color:fuchsia;   
    
}

li:hover, li:focus, li:active {
    background-color: DodgerBlue;
    color:white;
}

button.navbar-toggle {
    background-color:white;
    border:0px;
    
}
    
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:red;
}


    
    
#nav-list{
    text-align:center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight:bold;
    color: white;

}

section {
    background-color: white;
    margin-top: 100px;
	
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    text-transform:uppercase;
   
}

h2 {
    margin-bottom: 20px;
}

@media screen and (min-width: 767px){
  
 #collapsable-nav {
  background-color:white;
  
        }
   
    li {
        color:black;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    li:hover:nth-child(2), li:focus:nth-child(2), li:active:nth-child(2) {
        background-color:fuchsia;
        color: white;
    
}
        li:hover:nth-child(3), li:focus:nth-child(3), li:active:nth-child(3) {
        background-color:red;
        color: white;
    
}
    
.tricircle {
    width: 300px;
    height: 200px;
    margin-top:25px;
    margin-left:auto;
    margin-right: auto;
    position: relative;

    }
    
 .circle {
	background-color:black;
    border-radius: 50%; 
    border-color: black;
    border-width: 10px;
	 width:150px;
	 height:150px;
	 opacity: 0.75;
    }
	
div.circle {
	position:absolute;
	top:50%;
	color:white;
	opacity: 1;
	
	}
    
    .circle:nth-child(1) {
	    background-color:fuchsia;
        position: absolute;
        bottom: 25px;
        left: 25px;
    }
    .circle:nth-child(2) {
	    background-color:DodgerBlue;
        position: absolute;
        top: -60px;
        left: 75px;
    }
    
    .circle:nth-child(3) {
	    background-color:red;
        position: absolute;
        bottom: 25px;
        right: 25px;
    }
}
    


